.sidebar_icon {
   @apply relative flex flex-col items-center justify-center
             h-14 w-14 mt-2 mb-4 mx-auto shadow-lg
             text-blue-500
             hover:bg-blue-600 hover:text-white
             rounded-3xl hover:rounded-xl
             transition-all duration-300 ease-linear
             cursor-pointer;
   background-color: var(--gray-3);
}

.sidebar_tooltip {
   @apply absolute w-auto p-3 m-3 min-w-max start-14
     rounded-md shadow-md
     text-white 
     text-xs font-bold
     transition-all duration-100 scale-0 origin-left;
   background-color: var(--gray-4);
}

.sidebar_hr {
   @apply h-1
    border-gray-800 rounded-full
     mx-2;

   background-color: var(--gray-3);
}
